*{
    margin:0px;
}

body{
    width:100%;
    background:#000928;
}

#caja{
  width:100%;
  height:300px;
  margin: 20px 0px;
  background: blue;
  text-align:center;
}

.inicio{
  width: 80%;
  margin: 10%;
}

#hola{
  width:20px;
  height:20px;
  position: absolute;
  left: 150px;
  color: white;
  background: green;
  text-align: center;
}

.contenedor{
  display:none;
}

.padre{
  width:300px;
  height:380px;
  position:relative;
}

#personaje{
    width:45px;
    height:45px;
    border:;
    background:;
    position:absolute;
    bottom:52px;
    left:123px;
}

img{
  width:100%;
}

button{
    width:48%;
    height:100px;
    background:#000928;
    border:solid 1px;
    margin:2px;
}

.b2{
  margin-left:;
}

.bala{
  transform:rotate(-90deg);
  width:45px;
  position:absolute;
  top:280px;
}

.enemigo{
  width:45px;
  height: 45px;
  position: absolute;
  top:0px;
}

#puntos{
  width: 20px;
  height: 20px;
  border: solid red;
  border-radius:10px 0px 0px 10px;
  display: inline-block;
  position: absolute;
  top: 170px;
  right: 0px;
  text-align: center;
  line-height: center;
  color: white;
}